!!!
%head
  %title Experiment
  %link{ rel: :stylesheet, type: 'text/css', href: '/reset.css' }
  %link{ rel: :stylesheet, type: 'text/css', href: '/style.css' }
  %script{ src: '/app.js', type: 'text/javascript' }
%body
  Experiment